body {
    font-family: 'Big Shoulders Display', cursive, sans-serif;
    color: #1c1c1c;
    

}
h1, h2, h3 {

    font-family: 'Big Shoulders Display', cursive, sans-serif;
    color: #1c1c1c;
 
}

/* size adjustments background */
@media (min-width: 780px) {
   
    nav {
        
        background-color: #fff;
        background-image: url(../img/background-head.jpg);
        background-repeat: no-repeat;
        background-size: relative;
        color: #ffffff;
        position:relative;
        background-position: center;
        height: 100vh;
        width: 100vw;
        background-color: skyblue;
    }
    
    }

@media (min-width: 400px) and (max-width: 779px){
   
nav {
    
    background-color: #fff;
    background-image: url(../img/background-head-mid.jpg);
    background-repeat: no-repeat;
    background-size: relative;
    color: #ffffff;
    position:relative;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-color: skyblue;
}

}


@media  (max-width: 399px) {
   
    nav {
        
        background-color: #fff;
        background-image: url(../img/background-head-small-1.jpg);
        background-repeat: no-repeat;
        background-size: relative;
        color: #ffffff;
        position: relative;
        background-position: center;
        height: 100%;
        width: 100vw;
        background-color: skyblue;
        
    }
    
    }

/* end of size adjustments */

#imglogohd {

    
    padding-top: 25%;
    position:relative;
}

a:hover{
    color: #414f6b;
}

nav a {
      
   text-decoration: underline;
   color: #ffffff;
   margin:15%;
   
   }

nav a:visited {
    color: #fff;
}
   
nav > table {

    display:block;
    margin:25%;
    text-transform:uppercase;
    color:#fff;
    font-family: 'Big Shoulders Display', cursive, sans-serif;
    
}

nav td {

    width: 100px;
}

/* Menu responsivo*/

@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

.top-nav html, body {
  margin: 0;
  height: 100%;
}

.top-nav * {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  height: 50px;
  padding: 2em;
  margin-left: 10%;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 2rem;
  overflow: hidden;
  padding-right: 50px;
  
  
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
   
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display:block;
    justify-content: center; 
    margin: 0;
    padding: 0 em 0;
    width: 40%; 
    color: white;
    background-color: #414f6b; 
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
/* end css main menu */

/*Second Menu starts >700 */

#sec-menu {

    justify-content: center;
    width: 100%;
    height: 50px;
    display: flex;
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
    color:#1c1c1c
 
}

#sec-menu-div-img {
    
    position: relative;
    margin-left: 10%;
   
}

#sec-menu-div {
    
    position: relative;
    font-family: 'Big Shoulders Display', cursive, sans-serif;
    margin-left: 45%;
    
}

#sec-menu-div1 {

    position: relative;
    font-family: 'Big Shoulders Display', cursive, sans-serif;
    margin-left: 10%; 
      
}

/* Second Menu < 700 */

@media (max-width: 699px){
#sec-menu {

    
    
    width: 100%;
    height: 80px;
    display: flex;
    text-align: center;
    padding-top: 10px;
    color:#1c1c1c
 
}

#sec-menu-div-img {
    
    position: relative;
    margin-left: 5%;
   
}

#sec-menu-div {
    
    position: relative;
    font-family: 'Big Shoulders Display', cursive, sans-serif;
    margin-left: 5%;
    
}

#sec-menu-div1 {

    position: relative;
    font-family: 'Big Shoulders Display', cursive, sans-serif;
    margin-left: 5%; 
      
}

}

/*end Second Menu <700 */

#sec-menu a:link {
    color:#000;
}

#sec-menu a:visited {

    color: black;
}
/* end second menu */

/* history */

#history {

    background-image: url(../img/background-history.jpg);
    background-repeat: no-repeat;
    background-size: relative;
    color: #ffffff;
    position:relative;
    background-position: center;
    height: 100vh;
    width: 100vw;
    
    
}


#zero-um {

  font-family: 'Big Shoulders Display', cursive, sans-serif; 
  font-size: 80px;
  position: absolute;
  margin-top: 1px;
  margin-left:  80px;
  
}

#zero-um  h2 {

  color: gray;
  opacity: 0.5;

}

#ConHist {

  font-family: 'Big Shoulders Display', cursive, sans-serif; 
  font-size: 40px;
  position: absolute;
  margin-top: 106px;
  z-index: 9999;
  margin-left: 165px;
  text-transform: uppercase;
   
}

#ConHist h3 {

  color:#414f6b;
  
}

@media (min-width: 780px) {
#lorem-hist {

  width: 60%;
  text-align: justify;
  font-family: 'Big Shoulders Display', cursive, sans-serif; 
  font-size: 20px;
  position: absolute;
  margin-top: 230px;
  margin-left: 140px;
  color: #000;
 

}
#lorem-hist p {
 color: black;

  
}

#lorem-hist1 {
 display: none;


}
}
@media (max-width: 780px) {
  #lorem-hist {

    width: 70%;
    text-align: justify;
    font-family: 'Big Shoulders Display', cursive, sans-serif; 
    font-size: 20px;
    position: absolute;
    margin-top: 250px;
    margin-left: 60px;
    color: #000;
    background: #fff;
    opacity: 0.4;
   
  
  }
  #lorem-hist p {
   color: black;
  
    
  }
  
  #lorem-hist1 {
  
    width: 70%;
    text-align: justify;
    font-family: 'Big Shoulders Display', cursive, sans-serif; 
    font-size: 20px;
    position: absolute;
    margin-top: 250px;
    margin-left: 60px;
    color: #000;
    z-index: 1;
   
  
  }
  #lorem-hist1 p {
   color: black;
  
    
  }
  }

/* slider inicio */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.carousel-wrapper {
  display: flex;
  justify-content:center;
  align-content: center;
  max-width: 100%;
  width: 100%;
  background-color: rgb(71,85,108);
}

.wrapped-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: center;
}

.carousel {
  width: 100%;
  /*height: 100%;*/
  position: relative;
  overflow-y: hidden;
  display: flex;
  gap: 1em;
  scrollbar-width: none;
  margin-top: -100px;
}

.arrows {
  width: 20px;
  height: 45px;
  outline: none;
  border: none;
  background-color: #5e4c5a;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  opacity: 1;
  cursor: pointer;
  transition: all 0.1s ease;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  pointer-events: all;
}

.arrows:hover {
  background-color: #5e4c5a;
  transform: scale(1.1);
}

.arrows svg {
  width: 1.5em;
  height: 1.5em;
  fill: white;
}

.arrow-inactive {
  opacity: 0.5;
  cursor: auto;
}

.arrow-inactive:hover {
  transform: none;
}

.carousel-item {
  width: 150px;
  height: 150px;
}

.carousel-item img {
  border-radius: 10pt;
  width: 150px;
  height: 150px;
}

#off {
  justify-content: flex-end;
  font-size: 0.65rem;
}

#toggle-overflow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.25em;
  color: #5e4c5a;
  font-size: 0.75rem;
}

.overflow {
  overflow-x: auto;
  scrollbar-width: thin;
}

.carousel-wrapper.scrollbar-overflow ::-webkit-scrollbar {
  height: 6px;
}

.carousel-wrapper ::-webkit-scrollbar {
  height: 0px;
}

.carousel-wrapper ::-webkit-scrollbar-track {
  background: #c0b6af;
  border-radius: 10pt;
}

.carousel-wrapper ::-webkit-scrollbar-thumb {
  background: #5e4c5a;
  border-radius: 10pt;
}

.carousel-wrapper ::-webkit-scrollbar-thumb:hover {
  background: #2d242b;
}

@media (pointer: coarse) {
  .carousel {
    overflow-x: auto;
    scrollbar-width: thin;
  }
  .carousel-wrapper ::-webkit-scrollbar {
    height: 10px;
   
  }
}

/* slider fim */

/* 02 BEGIN */ 



/* size adjustments background */
@media (min-width: 780px) {
  #history2 {

  
    background-size: relative;
    color: #ffffff;
    position:relative;
    background-position: center;
    height: 100vh;
    width: 100vw;
    
    
  }
  
  
  #zero-um2 {
  
  font-family: 'Big Shoulders Display', cursive, sans-serif; 
  font-size: 80px;
  position: absolute;
  margin-top: 1px;
  margin-left: 200px;
  margin-top: -50px;
  
  }
  
  #zero-um2  h2 {
  
  color: gray;
  opacity: 0.5;
  
  }
  
  #ConHist2 {
  
  font-family: 'Big Shoulders Display', cursive, sans-serif; 
  font-size: 40px;
  position: absolute;
  margin-top: 56px;
  margin-left: 306px;
  text-transform: uppercase;
   
  }
  
  #ConHist2 h3 {
  
  color:#414f6b;
  
  }
  
  #lorem-hist2 {
  
  width: 40%;
  text-align: justify;
  font-family: 'Big Shoulders Display', cursive, sans-serif; 
  font-size: 20px;
  position: absolute;
  margin-top: 95px;
  margin-left: 450px;
  color: #000;
  
  
  }
  
  #lorem-hist2 p {
  
  color: black;
  }
}

@media (max-width: 779px){
  #history2 {

  
    background-size: relative;
    color: #ffffff;
    position:relative;
    background-position: center;
    height: 100vh;
    width: 100vw;
    
    
  }
  
  
  #zero-um2 {
  
  font-family: 'Big Shoulders Display', cursive, sans-serif; 
  font-size: 80px;
  position: absolute;
  margin-top: 1px;
  margin-left: 50px;
  margin-top: -50px;
  
  }
  
  #zero-um2  h2 {
  
  color: gray;
  opacity: 0.5;
  
  }
  
  #ConHist2 {
  
  font-family: 'Big Shoulders Display', cursive, sans-serif; 
  font-size: 40px;
  position: absolute;
  margin-top: 56px;
  margin-left: 155px;
  text-transform: uppercase;
   
  }
  
  #ConHist2 h3 {
  
  color:#414f6b;
  
  }
  
  #lorem-hist2 {
  
  width: 80%;
  text-align: justify;
  font-family: 'Big Shoulders Display', cursive, sans-serif; 
  font-size: 20px;
  position: absolute;
  margin-top: 200px;
  margin-left: 50px;
  color: #000;
  
  
  }
  
  #lorem-hist2 p {
  
  color: black;
  }
}
  
 
/* end of size adjustments */
/*02 END*/

/* Begin of Mountains */

/* size adjustments background */
@media (min-width: 780px) {
  #mountains-menu {

   
    background-color: #414f6b;
    width: 100%;
    padding-left: 10%;
    /*padding-top: 10px;*/
    font-family: 'Big Shoulders Display', cursive, sans-serif; 
    font-size: 30px;
    color: #fff;
    text-transform:uppercase;
    display:flex;
    margin-top: -450px;
    height: 60px;
   /* border-top: 20px;*/
    align-content: center;
    vertical-align: middle;
   }

#mbutton-1 {
  background-color: #fff;
  align-content: center;
  vertical-align: middle;
  opacity: 0.5;
  }
  
#mbutton-1 a {
  text-decoration: none;
  color: #414f6b;
}

#mbutton-2 {
  align-content: center;
  vertical-align: middle;
  pointer-events: visible;
  z-index: 1;
  }

#mbutton-2 a {
  text-decoration: none;
  color: #fff;
}


/* Moutain Event Tab */

#info-mountains {

  background-color: #fff;
  width: 330px;
  height: 250px;
  position: relative;
  margin-top: -450px;
  margin-left: 300px;
  opacity: 0.7 ;

}

#info-mountains-title {

  font-family: 'Big Shoulders Display', cursive, sans-serif; 
  color: #414f6b;
  font-size: 32px;
  position: absolute;
  margin-top: 1px;
  margin-left: 80px;
  margin-top: -35px;
  text-transform: uppercase;
}
#moutain-events {

  position: absolute;
  margin-top: 100px;
  margin-left: 50px;
  font-family: 'Big Shoulders Display', cursive, sans-serif; 
  color: #414f6b;
  font-size: 22px;

}

/* End of Moutain Event Tab */

}

@media (max-width: 779px){
#mountains-menu {

  background-color: #414f6b;
  width: 100%;
  font-family: 'Big Shoulders Display', cursive, sans-serif; 
  font-size: 24px;
  color: #fff;
  text-transform:uppercase;
  display: flex;
  margin-top: -250px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

#mbutton-1 {
  background-color: #fff;
  align-content: center;
  vertical-align: middle;
  opacity: 0.5;
  margin-left: 40px;
  
  }
  
#mbutton-1 a {
  text-decoration: none;
  color: #414f6b;
  z-index: 1;
}

#mbutton-2 {
  align-content: center;
  vertical-align: middle;
  pointer-events: visible;
  z-index: 2;
  }

#mbutton-2 a {
  text-decoration: none;
  color: #fff;
}


/* Moutain Event Tab */

#info-mountains {

  background-color: #fff;
  width: 330px;
  height: 250px;
  position: relative;
  margin-top: -450px;
  margin-left: 50px;
  opacity: 0.7 ;

}

#info-mountains-title {

  font-family: 'Big Shoulders Display', cursive, sans-serif; 
  color: #414f6b;
  font-size: 32px;
  position: absolute;
  margin-top: 1px;
  margin-left: 80px;
  margin-top: -35px;
  text-transform: uppercase;
}
#moutain-events {

  position: absolute;
  margin-top: 100px;
  margin-left: 50px;
  font-family: 'Big Shoulders Display', cursive, sans-serif; 
  color: #414f6b;
  font-size: 22px;

}

/* End of Moutain Event Tab */

}
/* End size adjustments background */

/* slider photos mountain */ 



.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
  
}

.slides {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin-top: -20px;
  
}


.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 600px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}


#slides img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

/* end slider photos mountain */

/* End of Mountains */

/*footer */
#footer-mountain {

      text-align: center;
      background-color:#414f6b;
      color: #F2FFFC;
      padding: 10px;
      width: 100%;
      margin-top: 200px;
      display:flex;
      text-align: center;
      
      
}

#footer-img {

    margin-left: 10%;

}

#footer-txt {
 
  font-family: 'Big Shoulders Display', cursive, sans-serif; 
  position: relative;
  text-align: justify;
  margin-left: -10px;
  display: inline; 
  width: auto;
  margin-top: 10px;
}
#footer-txt1 {

  font-family: 'Big Shoulders Display', cursive, sans-serif; 
  position: relative;
  text-align: justify;
  margin-left: -123px;
  display: inline; 
  width: auto;
  margin-top: 35px;

}

#footer-mountain a {


  text-decoration: none;

  margin-left: 50px;
  font-family: 'Big Shoulders Display', cursive, sans-serif; 
  color: #fff;
  font-size: 22px;

}

#footer-copy {
  
  font-family: 'Big Shoulders Display', cursive, sans-serif; 
  text-align: justify;
  margin-left: 100px;
  margin-top: 25px;
  

}

@media (max-width: 779px){

  #footer-copy {
    display: none;
      }
    }

/*end footer */