body {
    font-family: 'Big Shoulders Display', cursive, sans-serif;
    color: #1c1c1c;
    

}
h1, h2, h3 {

    font-family: 'Big Shoulders Display', cursive, sans-serif;
    color: #1c1c1c;
 
}

/* size adjustments background */
@media (min-width: 780px) {
   
    nav {
        
        background-color: #fff;
        background-image: url(../img/background-head.jpg);
        background-repeat: no-repeat;
        background-size: relative;
        color: #ffffff;
        position:relative;
        background-position: center;
        height: 100vh;
        width: 100vw;
        background-color: red;
    }
    
    }

@media (min-width: 400px) and (max-width: 779px){
   
nav {
    
    background-color: #fff;
    background-image: url(../img/background-head-mid.jpg);
    background-repeat: no-repeat;
    background-size: relative;
    color: #ffffff;
    position:relative;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-color: red;
}

}


@media  (max-width: 399px) {
   
    nav {
        
        background-color: #fff;
        background-image: url(../img/background-head-small-1.jpg);
        background-repeat: no-repeat;
        background-size: relative;
        color: #ffffff;
        position: relative;
        background-position: center;
        height: 100vh;
        width: 100vw;
        background-color: red;
        
    }
    
    }

/* end of size adjustments */

#imglogohd {

    
    padding-top: 25%;
    position:relative;
}

a:hover{
    color: #414f6b;
}

nav a {
      
   text-decoration: underline;
   color: #ffffff;
   margin:15%;
   
   }

nav a:visited {
    color: #fff;
}
   
nav > table {

    display:block;
    margin:25%;
    text-transform:uppercase;
    color:#fff;
    font-family: 'Big Shoulders Display', cursive, sans-serif;
    
}

nav td {

    width: 100px;
}

/* Menu responsivo*/

@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  height: 50px;
  padding: 2em;
  margin-left: 10%;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 2rem;
  overflow: hidden;
  padding-right: 50px;
  
  
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    /* border: 1px solid #333; */
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display:block;
    justify-content: center; 
    margin: 0;
    padding: 0 em 0;
    width: 40%; 
    color: white;
    background-color: #414f6b; 
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
/* end css main menu */

/*Second Menu starts >700 */

#sec-menu {

    justify-content: center;
    width: 100%;
    height: 50px;
    display: flex;
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
    color:#1c1c1c
 
}

#sec-menu-div-img {
    
    position: relative;
    margin-left: 10%;
   
}

#sec-menu-div {
    
    position: relative;
    font-family: 'Big Shoulders Display', cursive, sans-serif;
    margin-left: 45%;
    
}

#sec-menu-div1 {

    position: relative;
    font-family: 'Big Shoulders Display', cursive, sans-serif;
    margin-left: 10%; 
      
}

/* Second Menu < 700 */

@media (max-width: 699px){
#sec-menu {

    
    
    width: 100%;
    height: 80px;
    display: flex;
    text-align: center;
    padding-top: 10px;
    color:#1c1c1c
 
}

#sec-menu-div-img {
    
    position: relative;
    margin-left: 5%;
   
}

#sec-menu-div {
    
    position: relative;
    font-family: 'Big Shoulders Display', cursive, sans-serif;
    margin-left: 5%;
    
}

#sec-menu-div1 {

    position: relative;
    font-family: 'Big Shoulders Display', cursive, sans-serif;
    margin-left: 5%; 
      
}

}

/*end Second Menu <700 */

#sec-menu a:link {
    color:#000;
}

#sec-menu a:visited {

    color: black;
}
/* end second menu */

/* history */

#history {

    background-image: url(../img/background-history.jpg);
    background-repeat: no-repeat;
    background-size: relative;
    color: #ffffff;
    position:relative;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-color: red;
    
}